<header>
  <div class="menu-btn">
    <span class="menu-btn__burger"></span>
  </div>
  <button class="btn btn-primary">button</button>
  <nav class="nav">
    <ul class="menu-nav">
      <li class="menu-nav__item active">
        <a class="menu-nav__link" routerLink="home">
          Home
        </a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link">
          Contact Us
        </a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link">
          About
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section class="home">
    <h2>My Name is</h2>
    <h1 class="home_name">
      Sreekanth <span class="home_name--last">Mandala</span>
    </h1>
    <h2>
      Web developer,designer & programmer
    </h2>

    <footer>&copy; Copyright 2022</footer>
  </section>
</main>
